

html, body {
    height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.topnav {
      display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background: #222;
}

.topnav a {
  padding: 14px 16px;
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #c41a1a;
  color: white;
}

footer {
  color: grey;
}